<main class="main-cont content mCustomScrollbar">
    <div class="page-wrap">
        <!--开始::内容-->
        <section  style="margin-top: -30px;" class="page-hd">
            <header>
                <h2 class="title">护照管理</h2>
                <p class="title-description">
                    <a href="{:url('admin/passport/lst')}">护照列表></a>
                    <a href="#">护照修改></a>

                </p>
            </header>
            <hr>
        </section>
        <form action="" method="post">
            <input type="hidden" name="id" value="{$passport.id}">
        <table style="margin-left: 100px;">
            <tr>
                <td>
                    <div class="form-group-col-2">
                        <div class="form-label">姓名：</div>
                        <div class="form-cont">
                            <input type="text" placeholder="不用空格" class="form-control form-boxed" name="name"
                                   style="width: 190px"  value="{$passport.name}"><span class="word-aux" style="color:red;">*</span>
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label">姓名拼音</div>
                        <div class="form-cont">
                            <input type="text" placeholder="和护照一致" class="form-control form-boxed" style="width: 190px" name="name_pinyin"  value="{$passport.name_pinyin}">

                            <span class="word-aux" style="color:red;">*</span>
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label">性别：</div>
                        <div class="form-cont">
                            <label class="radio">
                                <input type="radio"  {$passport.sex===1?"checked='checked'":""} name="sex" value="1" />
                                <span>男士</span>
                            </label>
                            <label class="radio">
                                <input type="radio" {$passport.sex===0?"checked='checked'":""}  name="sex"  value="0"/>
                                <span>女士</span>
                            </label>
                            <label class="radio">
                                <input type="radio" {$passport.sex===2?"checked='checked'":""} name="sex" value="2"/>
                                <span>其他</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label">身份证号:</div>
                        <div class="form-cont">
                            <input type="number" class="form-control form-boxed" style="width: 190px" name="identy_num" value="{$passport.identy_num}">
                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">出生日期</div>
                        <div class="form-cont">
                            <input type="date" class="form-control form-boxed" style="width: 190px" name="birthday" value="{$passport.birthday}">
                        </div>
                    </div>
                </td>

                <td>
                    <div class="form-group-col-2">
                        <div class="form-label">出生地</div>
                        <div class="form-cont">
                            <input type="text" placeholder="不用空格" class="form-control form-boxed" name="birth_place" value="{$passport.birth_place}"
                                   style="width: 190px"><span class="word-aux" style="color:red;">*</span>
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label">护照号：</div>
                        <div class="form-cont">

                            <input type="text" class="form-control form-boxed" style="width: 190px" name="num" value="{$passport.num}">


                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">签发日期：</div>
                        <div class="form-cont">
                            <input type="date" placeholder="签发日期..." class="form-control form-boxed" style="width: 190px" name="start_time" value="{$passport.name_pinyin}"value="{$passport.start_time}">
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label">失效日期：</div>
                        <div class="form-cont">
                            <input style="width:190px;" class="form-control form-boxed" type="date" value="" name="end_time"/ value="{$passport.end_time}">
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label">状态：</div>
                        <div class="form-cont" >

                            <select style="width:auto;" name="status">
                                <option {$passport.status==1?"selected":""} value="1" >在库</option>
                                <option {$passport.status==0?"selected":""} value="0">借出</option>
                                <option {$passport.status==2?"selected":""} value="2">销毁</option>
                            </select>
                        </div>
                    </div>

                </td>
            </tr>
        </table>
        <div><br/></div>
        <div style="margin-left: 350px;">
            <div class="form-label"></div>
            <div class="form-cont">
                <input type="submit" class="btn btn-primary" value="保存修改"/>
                <input type="button" class="btn btn-warning-outline" value="取消修改" onclick="window.location='{:url('admin/passport/lst')}'"/>
            </div>

        </div>
        </form>
        <!--开始::结束-->
    </div>
</main>
