
		<main class="main-cont content mCustomScrollbar">
			<div class="page-wrap">
				<!--开始::内容-->
				<section class="page-hd">
					<header>
						<h2 class="title">护照信息</h2>
						<p class="title-description">
							<a href="#">护照管理></a>

						</p>
					</header>
					<hr>
				</section>
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>id</th>
							<th>姓名</th>
							<th>出生日期</th>
							<th>护照号</th>
							<th>失效日期</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="cen">
							<td>#001</td>
							<td ><a href="#">张三</a></td>
							<td>2011-5-15</td>
							<td>PE0515154</td>
							<td>2022-6-12</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
						<tr class="cen">
							<td>#001</td>
							<td ><a href="#">张三</a></td>
							<td>2011-5-15</td>
							<td>PE0515154</td>
							<td>2022-6-12</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
						<tr class="cen">
							<td>#001</td>
							<td ><a href="#">张三</a></td>
							<td>2011-5-15</td>
							<td>PE0515154</td>
							<td>2022-6-12</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
						<tr class="cen">
							<td>#001</td>
							<td ><a href="#">张三</a></td>
							<td>2011-5-15</td>
							<td>PE0515154</td>
							<td>2022-6-12</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-primary-outline" onclick="window.location='{:url('admin/passport/add')}'">新增护照</button>
				<!--开始::结束-->
			</div>
		</main>

