
		<main class="main-cont content mCustomScrollbar">
			<div class="page-wrap">
				<!--开始::内容-->
				<section class="page-hd">
					<header>
						<h2 class="title">表格系列展示</h2>
						<p class="title-description">
							表格系列，四种表格样式，隔行换色，鼠标经过等
						</p>
					</header>
					<hr>
				</section>
				<table class="table mb-15">
					<thead>
						<tr>
							<th><input type="checkbox"/></th>
							<th>产品名称</th>
							<th>库存数量</th>
							<th>市场价</th>
							<th>销售价</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="cen">
							<td><input type="checkbox"/></td>
							<td class="lt"><a href="#">正宗陕西洛川红富士 新鲜水果特惠</a></td>
							<td>50000斤</td>
							<td>￥4.00</td>
							<td>￥3.80</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
						<tr class="cen">
							<td><input type="checkbox"/></td>
							<td class="lt"><a href="#">正宗陕西洛川红富士 新鲜水果特惠</a></td>
							<td>50000斤</td>
							<td>￥4.00</td>
							<td>￥3.80</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
						<tr class="cen">
							<td><input type="checkbox"/></td>
							<td class="lt"><a href="#">正宗陕西洛川红富士 新鲜水果特惠</a></td>
							<td>50000斤</td>
							<td>￥4.00</td>
							<td>￥3.80</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
						<tr class="cen">
							<td><input type="checkbox"/></td>
							<td class="lt"><a href="#">正宗陕西洛川红富士 新鲜水果特惠</a></td>
							<td>50000斤</td>
							<td>￥4.00</td>
							<td>￥3.80</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
						<tr class="cen">
							<td><input type="checkbox"/></td>
							<td class="lt"><a href="#">正宗陕西洛川红富士 新鲜水果特惠</a></td>
							<td>50000斤</td>
							<td>￥4.00</td>
							<td>￥3.80</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered  mb-15">
					<thead>
						<tr>
							<th>id</th>
							<th>产品名称</th>
							<th>库存数量</th>
							<th>市场价</th>
							<th>销售价</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="cen">
							<td>#001</td>
							<td class="lt"><a href="#">正宗陕西洛川红富士 新鲜水果特惠</a></td>
							<td>50000斤</td>
							<td>￥4.00</td>
							<td>￥3.80</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered table-striped mb-15">
					<thead>
						<tr>
							<th>id</th>
							<th>产品名称</th>
							<th>库存数量</th>
							<th>市场价</th>
							<th>销售价</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="cen">
							<td>#001</td>
							<td class="lt"><a href="#">正宗陕西洛川红富士 新鲜水果特惠</a></td>
							<td>50000斤</td>
							<td>￥4.00</td>
							<td>￥3.80</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>id</th>
							<th>产品名称</th>
							<th>库存数量</th>
							<th>市场价</th>
							<th>销售价</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="cen">
							<td>#001</td>
							<td class="lt"><a href="#">正宗陕西洛川红富士 新鲜水果特惠</a></td>
							<td>50000斤</td>
							<td>￥4.00</td>
							<td>￥3.80</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
						<tr class="cen">
							<td>#001</td>
							<td class="lt"><a href="#">正宗陕西洛川红富士 新鲜水果特惠</a></td>
							<td>50000斤</td>
							<td>￥4.00</td>
							<td>￥3.80</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
						<tr class="cen">
							<td>#001</td>
							<td class="lt"><a href="#">正宗陕西洛川红富士 新鲜水果特惠</a></td>
							<td>50000斤</td>
							<td>￥4.00</td>
							<td>￥3.80</td>
							<td>
								<a title="编辑" class="mr-5">编辑</a>
								<a title="详情" class="mr-5">详情</a>
								<a title="删除">删除</a>
							</td>
						</tr>
					</tbody>
				</table>
				<!--开始::结束-->
			</div>
		</main>

