<main class="main-cont content mCustomScrollbar" xmlns="http://www.w3.org/1999/html">

    <div class="page-wrap">
        <!--开始::内容-->
        <section  style="margin-top: -30px;display: flex;flex-direction: row;vertical-align: middle;" class="page-hd">
            <header  style="padding-right: 200px;">
                <h2 class="title">团组管理</h2>
                <p class="title-description">
                    <a href="#">团组列表></a>

                </p>
            </header>
            <div style="vertical-align: bottom;">
            <button style="margin-top: 15px;" class="btn btn-primary-outline" onclick="window.location='{:url('admin/group/add')}'">新增团组
            </button>
            </div>

            <form action="" method="get" style="display: inline;vertical-align: middle;margin-top: 15px;">
                <input type="tel" placeholder="姓名" class="form-control form-boxed"
                       style="width:150px;margin-left: 150px;" name="name"/>
                <input type="tel" placeholder="护照号1" class="form-control form-boxed" style="width:150px;" name="num"/>
                <input type="submit" value="查询" btn-secondary-outline" class="btn btn-primary"></input>
            </form>
            <hr>

        </section>
        <table class="table table-bordered table-striped table-hover">
            <thead >
            <tr style="height:20px;">
                <th>id</th>
                <th>院合申发</th>
                <th>名称</th>
                <th>国家</th>
                <th>人数</th>
                <th>天数</th>
                <th>申请出境</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="data" id="vo"}
            <tr class="cen">
                <td>{$vo.id}</td>
                <td>{$vo.inner_num}</td>
                <td><a href="#">{$vo.group_name}</a></td>
                <td>{$vo.place}</td>
                <td>{$vo.plan_back_time-$vo.plan_start_time}</td>
                <td>{$vo.total_people}</td>
                <td>{$vo.plan_start_time}</td>
                <td>
                    <a title="编辑" class="mr-5" href="{:url('edit',['id'=>$vo.id])}">编辑</a>
                    <a title="详情" class="mr-5" href="{:url('info',['id'=>$vo.id])}">详情</a>
                    <a title="删除" style="color: red;" href="javascript:void(0);" onclick="return myDelete('{:url('del',['id'=>$vo.id])}')">删除1</a>
                </td>

            </tr>
            {/volist}
            </tbody>
        </table>
        <div id="pagination-passport" class="pagination">
            {$page}
        </div>

        <!--对话框-->
        <script>
            function myFunction() {
                var r = confirm("确定要删除该数据吗?");
                if (r == true) {
                   return true;
                }
                else {
                   return false;
                }
            }
//
            function myDelete(url) {

                layer.confirm('你确定要删除吗?', {
                    btn: ['确定删除', '不想删除'] //按钮
                }, function () {
                      window.location=url;
                }, function () {


                });

            }
        </script>

        <style>
            #pagination-passport li {
                display: inline;
            }
        </style>

        <!--开始::结束-->
    </div>
</main>

