<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>国际合作处外事管理</title>
    <meta name="keywords" content="国际合作管理"/>
    <meta name="description" content="国际合作管理"/>
    <meta name="author" content="DeathGhost"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="icon" href="__PUBLIC__/images/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
    <script src="__PUBLIC__/javascript/jquery.js"></script>
    <script src="__PUBLIC__/javascript/plug-ins/customScrollbar.min.js"></script>
    <script src="__PUBLIC__/javascript/plug-ins/echarts.min.js"></script>
    <script src="__PUBLIC__/javascript/plug-ins/layerUi/layer.js"></script>
    <script src="__PUBLIC__/javascript/plug-ins/pagination.js"></script>
    <script src="__PUBLIC__/javascript/public.js"></script>
</head>

<body>

<div class="main-wrap">
    <div class="side-nav">
        <div class="side-logo">
            <div class="logo">
				<span class="logo-ico">
					<i class="i-l-1"></i>
					<i class="i-l-2"></i>
					<i class="i-l-3"></i>
				</span>
                <strong>NPIC ICD</strong>
            </div>
        </div>

        <nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
            <h2>
                <a href="{:url('admin/index/index')}" class="InitialPage"><i class="icon-dashboard"></i>首页</a>
            </h2>
            <ul>

                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>团组管理<i class="icon-angle-right"></i>
                        </dt>

                        <dd>
                            <a href="{:url('admin/group/lst')}">团组列表</a>
                        </dd>
                        <dd>
                            <a href="{:url('')}">团组查询</a>
                        </dd>
                        <dd>
                            <a href="{:url('')}">出国计划</a>
                        </dd>
                        <dd>
                            <a href="{:url('')}">团组统计</a>
                        </dd>

                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-inbox"></i>护照管理<i class="icon-angle-right"></i>
                        </dt>

                        <dd>
                            <a href="{:url('admin/passport/lst')}">护照列表</a>
                        </dd>
                        <dd>
                            <a href="{:url('admin/passportBorrow/borrow')}">护照借出</a>
                        </dd>
                        <dd>
                            <a href="{:url('admin/passportBorrow/back')}">护照归还</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>签证指南<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                        <a href="table.html">基础表格</a>
                    </dd>
                        <dd>
                            <a href="table.html">各国要求</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-list-alt"></i>报批指南<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="form.html">出国材料</a>
                        </dd>
                    </dl>
                </li>

                <li>
                    <dl>
                        <dt>
                            <i class="icon-home"></i>用户管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="{:url('admin/admin/lst')}">用户列表</a>
                        </dd>

                    </dl>
                </li>

            </ul>
        </nav>
        <footer class="side-footer">© LBH 版权所有</footer>
    </div>
    <div class="content-wrap">
        <header class="top-hd">
            <div class="hd-lt">
                <a class="icon-reorder"></a>
            </div>
            <div class="hd-rt">
                <ul>

                    <li>
                        <a><i class="icon-random"></i>清除缓存</a>
                    </li>
                    <li>
                        <a><i class="icon-user"></i>用户:<em>刘宝华</em></a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" id="JsSignOut"><i class="icon-signout"></i>安全退出</a>
                    </li>
                </ul>
            </div>
        </header>
        {__REPLACE__}
        <footer class="btm-ft">
            <p class="clear">
                <span class="fl">©Copyright 2016 <a href="#" title="DeathGhost" target="_blank">LBH</a></span>
                <span class="fr text-info">
					<em class="uppercase">
						<i class="icon-user"></i>
						author:LBH
					</em> |

				</span>
            </p>
        </footer>
    </div>
</div>
</body>
</html>
