<!DOCTYPE html>
<html>
<!--包含末班失败，回头调试-->
<!--{include file="../application/common/view/common/head.html" /}-->
<head>
    <meta charset="utf-8"/>
    <title>国际合作处外事管理</title>
    <meta name="keywords" content="国际合作管理"/>
    <meta name="description" content="国际合作管理"/>
    <meta name="author" content="DeathGhost"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="icon" href="__PUBLIC__/images/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
    <script src="__PUBLIC__/javascript/jquery.js"></script>
    <script src="__PUBLIC__/javascript/plug-ins/customScrollbar.min.js"></script>
    <script src="__PUBLIC__/javascript/plug-ins/echarts.min.js"></script>
    <script src="__PUBLIC__/javascript/plug-ins/layerUi/layer.js"></script>
    <script src="__PUBLIC__/javascript/plug-ins/pagination.js"></script>
    <script src="__PUBLIC__/javascript/public.js"></script>
</head>

<body>
        {__REPLACE__}
</body>
</html>
